<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<% if @user %>
  <% if !@user.otp_required_for_login %>
    <strong> User does not have 2 FA login enabled </strong>
  <% end %>

  <% if @user.otp_required_for_login %>
    <%= button_to "Disable 2FA", admin_disable_otp_path, :method => :post %>
    <br>
  <% end %>
<% end %>

<%= link_to "Back", :back %>
