<section class="section has-text-centered">
  <div class="container is-fluid">

    <h2 class="has-text-weight-bold is-size-1">Log in</h2>
    <div class="section">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field">

            <%= form_for(resource, as: resource_name, url: users_pre_otp_path, method: :post, remote: true, html: {id: 'step-1'}) do |f| %>

            <div class="control">

              <%= f.label :email, class: 'label has-text-centered' %>

              <div class="control has-icons-left">

                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>

                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            </br >

            <div class="actions">
              <%= f.submit "next" %>
            </div>
            <% end %>


            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'hidden', id: 'step-2'}) do |f| %>
            <div class="field control">

              <%= f.label :email, class: 'label has-text-centered' %>

              <div class="control has-icons-left">

                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="control">


              <%= f.label :password, class: "label has-text-centered" %>

              <div class="field control has-icons-left">

                <%= f.password_field :password, autocomplete: "current-password", class: "input" %>

                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            </br >

            <div id="step-2-otp" class="control hidden">
              <%= f.label :otp_attempt %><br />
                <div class="field control has-icons-left">
                <%= f.text_field :otp_attempt, class: "input" %>

                <span class="icon is-small is-left">
                  <i class="fas fa-user-clock"></i>
                </span>
              </div>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>

            <div class="control">

              <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, class: "checkbox" %>
              Remember Me
            <% end %>

          </div>

          <% end -%>

          <div class="actions control buttons has-addons is-centered">

            <%= f.submit "Log in", class: "button is-link"%>
         </div>

         <% end %>

       </div>
     </div>
   </div>
</div>
</div>
<%= render "devise/shared/links" %>
</section>
</div>
