<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>


  <div class="field">
    <%= form.label :user_enabled %>
    <%= form.check_box :user_enabled %>
  </div>

  <div class="field">
    <%= form.label :admin_disabled %>
    <%= form.check_box :admin_disabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
